@model ShoppingCart.Models.Entities.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.item_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantityOwned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantityOwned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantityInstock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantityInstock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantityLoaned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantityLoaned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.availableToLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.availableToLoan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.item_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
